:root {
	/* Triangle angles */
	--angle: 120deg;
	--angleNeg: -120deg;
	
	/* How wide the triangle is*/
	--cutoff: 90%;
	
	/* Triangle color and background color*/
	--lightRGB: rgb(3, 51, 45);
	--darkRGB: rgb(3, 46, 40);}

#final {
	background:
		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 0 0,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 0 0,

		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 10px 20px,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 10px 20px,

		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 20px 0px,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 20px 0px,

		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 40px 0px,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 40px 0px,

		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 50px 20px,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 50px 20px,

		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 60px 0px,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 60px 0px,
		var(--darkRGB);
	background-size: 80px 40px;
}

#step1 {
	background:
		var(--darkRGB);
	background-size: 80px 40px;
}

#step2 {		
	background:
		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 0 0,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 0 0,
		var(--darkRGB);
	background-size: 80px 40px;
}

#step3 {		
	background:
		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 0 0,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 0 0,
		
		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 10px 20px,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 10px 20px,
		
		
		var(--darkRGB);
	background-size: 80px 40px;
}

#step4 {		
	background:
		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 0 0,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 0 0,
		
		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 10px 20px,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 10px 20px,
		
		linear-gradient(var(--angle), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 20px 0px,
		linear-gradient(var(--angleNeg), transparent var(--cutoff), var(--lightRGB) var(--cutoff)) 20px 0px,
		
		var(--darkRGB);
	background-size: 80px 40px;
}